* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

body { 
  font-family: system-ui;
  color: white;
  background-color: black;
}

button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  min-width: 100px;
  height: 2rem;
}

input[type="range"] {
  appearance: none;
  height: 3px;
  border-radius: 3px;
  background: #999;
}

#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}

#speedSlider {
  width: 120px;
}

#trailLengthSlider {
  width: 120px;
}

#timelineSlider {
  width: 100%;
}